* {
    background-color:burlywood
}

#i1 {
    background-color:rgba(238, 132, 10, 0.893);
    height:100px;
    width:100px;
    margin: 0 auto;
    margin-top:10px;
    transition-duration: 2s;

    /* property name | duration | easing function | delay */
    transition: margin-top 2s ease-in 0.5s
}

#i1:hover {
    margin-top:400px;
}

section {
    margin-top: 100px;
}

div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7a8a74;
    border: 2px solid black;
    margin: 10px;
}

div:nth-of-type(2n) {
    background-color: #f7db6a;
}

div:nth-of-type(3n) {
    background-color: #ebb02d;
}

#one {
    transform:rotate(45deg);
}

#two {
    margin-top:50px;
    margin-bottom:50px;
    transform: scale(2)
}

#three:hover {
    transform: translate(100px);
}

#four {
    transform:skew(50deg);
}

#five {
    transform: translate(400px,-100px);
    transform: rotate(45deg);
}

#i2 {
    box-shadow:3px 2px black
}

#image {
    background-image: url(download.jpg);
    height:100px;
    color:blueviolet;
    background-size:auto;
}

#static {
    position:static;
    top:40px;
}

#relative {
    position:relative;   /* Shifts element from its position*/
    top:50px;
    left:100px;
}

#absolute {
    position:absolute;
    top:1100px
}

#fixed {
    position:fixed;
    bottom:500px;
}

#smilee {
    height:300px;
    width:300px;
    background-color:white
}

#face {
    height:250px;
    width:250px;
    margin: 0 auto;
    border-radius:50%;
    background-color:rgb(255, 191, 55)
}

.eye {
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:black;
}

#mouth {
    height:40px;
    width:150px;

    background-color:rgb(175, 55, 70);
    border-bottom-right-radius:60px;
    border-bottom-left-radius:60px;
    transform:translate(42px,45px)
}

#right {
    transform: translate(150px)
}

#left {
    transform:translate(45px, 52px)
}

