h2 {
    font-family: Georgia;
    font-style:italic;
    color:RGB(227, 83, 53)
}

span {
    color:rgb(150, 135, 48)
}

.card {
    height:650px;
    width:450px;
    border:2px solid black;
    display:inline-block;
    border-radius:40px;
    margin:20px;
    vertical-align:top;

}

img{
    height:300px;
    width:400px;
    padding:25px;
}
h3  {
    padding:10px;
}
p {
    padding:10px;
}



